body {
  margin-right: 5%;
  margin-bottom: 30%;
  margin-top: 50px;
}


.header {
  display: flex;
  align-items: flex-start;
}

.menu-section {
  display: flex;
  align-items: flex-start;
}

.menu-button {
  background-color: rgb(255,255,255);
  border: none;
  margin-right: 100px;
  margin-left: 50px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-icon {
  height: 50px;
}

.enter-message-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.message-input, .send-button {
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}


.message-section {
  flex: 1;
}

.message-input {
  padding-left: 30px;
  height: 200px;
  width: 100%;
  font-size: 30px;
  color: rgb(138, 132, 133);
  border-radius: 30px;
}

.message-input::placeholder {
  height: 100px;
  font-size: 30px;
  color: rgb(138, 132, 133);
}

.send-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.send-button {
  height: 60px;
  width: 160px;
  margin-left: 50px;
  font-size: 30px;
  color: white;
  background-color: rgb(193, 130, 163);
  border-radius: 30px;

  margin-left: 100px;

  transition: background-color, 0.5s;
}

.send-button:hover {
  cursor: pointer;
  background-color: rgb(217, 154, 186);
}

.refresh-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.refresh-button {
  background-color: rgb(255,255,255);
  border: none;
  margin-right: 20px;
  margin-left: 100px;
}

.refresh-button:hover {
  cursor: pointer;
}

.user-responses-section {
  margin-top: 100px;
  margin-left: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.response-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  border-radius: 30px;
}

.response-msg {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  /*box-shadow: 0px 0px 20px rgba(0,0,0,0.1);*/
  font-size: 30px;
  color: rgb(138, 132, 133);
  /*border-radius: 30px;*/

  word-wrap: break-word;
  word-break: break-all;
}

.response-replies-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.response-reply-button-img {
  padding: 10px;
  height: 50px;
}

.response-reply-button {
  height: 100%;
  background-color: rgb(233, 188, 183);
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

  transition: background-color, 0.5s;
}

.response-reply-button:hover {
  cursor: pointer;
  background-color: rgba(233, 188, 183,0.75);
}

.response-reply-input {
  flex: 1;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  font-size: 30px;
  color: rgb(138, 132, 133);
  border-radius: 30px;

  margin-bottom: 50px;
  margin-right: 50px;
}